TLS_EcoPlanner/game_data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GameData">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="PriceData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="EasyDiffModifier"/>
              <xs:element type="xs:float" name="ApoDiffModifier"/>
              <xs:element name="HousePriceData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="Build"/>
                    <xs:element name="expansion">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="lvl1"/>
                            <xs:attribute type="xs:int" name="lvl2"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MinePriceData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="Build"/>
                    <xs:element name="production">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="lvl1"/>
                            <xs:attribute type="xs:int" name="lvl2"/>
                            <xs:attribute type="xs:int" name="lvl3"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="workers">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="lvl1"/>
                            <xs:attribute type="xs:int" name="lvl2"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ShopPriceData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:int" name="Build"/>
                    <xs:element name="sellingPrices">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="lvl1"/>
                            <xs:attribute type="xs:int" name="lvl2"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="MaxBuildings">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="houses"/>
              <xs:element type="xs:int" name="mines"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="StartingBuildings">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="houses"/>
              <xs:element type="xs:int" name="mines"/>
              <xs:element type="xs:int" name="shop"/>
              <xs:element type="xs:int" name="ruins1"/>
              <xs:element type="xs:int" name="ruins2"/>
              <xs:element type="xs:int" name="ruins3"/>
              <xs:element type="xs:int" name="ruins4"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="GoldMineData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="lvl0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="production" use="required"/>
                      <xs:attribute type="xs:int" name="gold" use="required"/>
                      <xs:attribute type="xs:int" name="workers" use="required"/>
                      <xs:attribute type="xs:int" name="uses" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="lvl1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="gold"/>
                      <xs:attribute type="xs:int" name="workers"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="lvl2">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="production"/>
                      <xs:attribute type="xs:int" name="uses"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="lvl3">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="gold"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		
        <xs:element name="ShopData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sellingPrices">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="lvl0" use="required"/>
                      <xs:attribute type="xs:int" name="lvl1" use="required"/>
                      <xs:attribute type="xs:int" name="lvl2" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		
		<xs:element name="RuinsData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="ruins1"/>
              <xs:element type="xs:int" name="ruins2"/>
              <xs:element type="xs:int" name="ruins3"/>
              <xs:element type="xs:int" name="ruins4"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NightRewards">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Gold">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="1">
                    <xs:element name="night">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="S" use="required"/>
                            <xs:attribute type="xs:int" name="A" use="required"/>
                            <xs:attribute type="xs:int" name="B" use="required"/>
                            <xs:attribute type="xs:int" name="C" use="required"/>
                            <xs:attribute type="xs:int" name="D" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="ItemValues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="item" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="value" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="min_rank" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
