TLS_EcoPlanner/plan_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Plan">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="GameDataFile"/>
        <xs:element type="xs:byte" name="EasyModifier"/>
        <xs:element type="xs:byte" name="ApoModifier"/>
        <xs:element name="Actions">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="DayStart">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="rank" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
			  
              <xs:element type="xs:string" name="BuildGoldMine"/>
			  
              <xs:element name="WorkGoldMine">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="mine_index" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
			  
			  <xs:element type="xs:string" name="BuildHouse"/>
			  
              <xs:element name="UpgradeGoldMine">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="mine_index" use="required"/>
                      <xs:attribute type="xs:string" name="upgrade_path" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
			  
              <xs:element name="UpgradeHouse">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="house_index" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
			  
              <xs:element type="xs:string" name="BuildShop"/>
			  
              <xs:element type="xs:string" name="UpgradeShopPrices"/>
			  
			  <xs:element name="ScavengeRuins">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="ruins_size" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
			  
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
